
.palpite>aside{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.palpite>aside>input {
    width: 3.37rem;
    height: 3.37rem;

    border-radius: 0.62rem;
    border: 2px solid #6363db;
    outline: none;

    background-color: #ebebfc;
    color: #6363db;

    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;

    text-align: center;
}

.palpite>aside>button {
    width: 6rem;
    height: 3.37rem;

    background-color: #6363db;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.62rem;
    border: 2px solid #4f4fb9;
    
}