input {
    width: 3.37rem;
    height: 3.37rem;

    border-radius: 0.62rem;
    border: 2px solid #6363db;
    outline: none;

    background-color: #ebebfc;
    color: #6363db;

    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;

    text-align: center;
}