.container {
    width: 100%;
    height: 100%;

    position: absolute;
}

.container main {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
    width: 90dvw;
    max-width: 556px;
    padding: 4.5rem 2rem 2rem 2rem;
    border-radius: .75rem;
}

.word {
    width: 100%;
    margin: 2.5rem 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}
h4{
    width: 100%;
}
.guess {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}


.gameConfig {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 85%;
    max-width: 500px;
    height: 700px;

    backdrop-filter: blur(3px);
    border-radius: 10px;
    z-index: 2;

    border: 2px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);

    padding: 10px;
    display: flex;
}

.gameConfig>div {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.gameConfig>div>button {
    width: 80%;
}

.closeButton {
    width: 50px;
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
}