:root{
    font-size: 16px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5fa;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}

button{
    cursor: pointer;
    transition: .5s ease;
}

button:hover{
    filter: brightness(0.9);
    transform: scale(1.05);
}