* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fbf4f4;
}

h1 {
    text-align: center;
    margin: 22px 0px;
}

nav {
    display: flex;
    align-items: center;
    gap: 22px;
}

a {
    color: #f24d0d;
    background-color: #f24d0d1a;
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
}

button{
    background-color: #f24d0d;
    padding: 12px 16px;
    border-radius: 7px;
    border: none;
    color: white;

    cursor: pointer;
}

a,
button {
    font-weight: 700;
    transform: filter 0.2s;
}

a:hover,
button:hover {
    filter: brightness(0.8);
}

span{
    color: #3d3d3d;
    font-weight: 600;
    font-size: 14px;

}

strong{
    color: #f24d0d;
    text-transform: uppercase;
}

.cards{
    display: flex;
    flex-flow: row wrap;
    gap: 20px   ;
    padding: 10px;
    margin: 18px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #0000001a;
    width: 300px;
    a{
        flex-grow: 1;
        height: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}