.container{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.container > img {
    height: 3.75rem;
}

.container > section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3.25rem 0;
}

.container > section > button {
    background-color: transparent;
    border: none;
}

.container > section img{
    height: 2rem;
    transition: .5s ease;
}

.container > section img:hover{
    scale: 1.3;
}

.container > section > span {
    font-size: 1.12rem;
    color: #9b9b9b;
}

.container > section > span > strong {
    font-size: 1.37rem;
    color: #e8891c;
}