.container{
    display: flex;
    gap: 1.5rem;
    padding: 10px;
    background-color: #121213;
    width: 100dvw;
    height: 50dvh;

    justify-content: center;
    align-items: center;
}

.container > span {
    color: #fff;
    font-size: 3rem;
    font-weight: 400;
}

section{
    padding: 10px;
}

.form{
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    border: 1px solid black;
}
.formInfo{
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
}
